spring:
  datasource:
    url: jdbc:mysql://10.15.42.36:3306/selenium?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  mvc:
    static-path-pattern: /static/**